@{
    ViewData["Title"] = "About";
}
<section class="single-section about-area" id="about-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <p class="section-description">Get to know me</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- Picture part-->
            <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="~/img/linkedin_propic-removebg-preview (1).png"  alt="About Picture"/></div>
            <!-- Content part-->
            <div class="col-12 col-lg-7 about-content">
                <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title">I'm Kenny Ntozakhe, a Full Stack Web Developer</h6>
                    <div class="content-description">
                        <p>
                            Building Software has always been my dream job. <br /> <br />

                            I’ve always been a great problem solver, inquisitive about how things work. Today, I’m a web developer and have built several projects that I invite you to explore. These projects demonstrate the type of skills I have acquired and what I can bring to your project.<br /><br />

                            In addition to my skills, I abide by three core tenants that I bring to any company, contract, or freelance opportunity.<br /><br />

                            Work Ethic - I believe a good day is a productive day. So I use my work hours to be productive. I try to bring value each and every day.<br /><br />

                            Empathy - I try to understand the needs of the business and put myself in the stakeholders' shoes. Then leverage my skills as a developer to solve the issues facing the business.<br /><br />

                            Commitment to Craft - What I know today cannot be the only thing I know tomorrow. I’m committed to learning new things and improving my skillset to bring the most value to any project.<br /><br />

                            I’m familiar with a variety of programming languages, including JavaScript, HTML, CSS, ASP.NET, C#, .NET, and SQL but I’m always adding new skills to my repertoire.<br /><br />
                        </p>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>
